{% extends 'CitraxDatabaseSwiftMailerBundle::layout.html.twig' %}
{% block database_swiftmailer_content %}

    <div class="row">
        <div class="col-md-12">

            <h1>Email Spool</h1>

            <table class="record_list table table-hover">
                <thead>
                <tr>
                    <th>Subject</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Status</th>
                    <th>Retries</th>
                    <th>Created at</th>
                    <th>Updated at</th>
                    <th>Created by</th>
                    <th>Updated by</th>
                    <th>Sent at</th>
                    <th>Error message</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for entity in entities %}
                    <tr class="{{ entity.status == 'FAILED' or entity.status == 'CANCELLED' ? ' danger' : '' }} {{ entity.status == 'READY' ? ' info' : '' }} {{ entity.status == 'COMPLETE' ? ' success' : '' }}">
                        <td>{{ entity.subject }}</td>
                        <td>{{ entity.fromEmail }}</td>
                        <td>{{ entity.toEmail }} {{ entity.ccEmail }} {{ entity.bccEmail }}</td>
                        <td><span class="label label-{{ entity.status == 'COMPLETE' ? 'success' }}{{ entity.status == 'READY' ? 'info' }}{{ entity.status == 'FAILED' or entity.status == 'CANCELLED' ? 'danger' }}">
                                {{ entity.status }}
                            </span>
                        </td>
                        <td>{{ entity.retries }}</td>
                        <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ entity.createdBy }}</td>
                        <td>{{ entity.updatedBy }}</td>
                        <td>{% if entity.sentAt %}{{ entity.sentAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ entity.errorMessage }}</td>
                        <td>
                            <div class=" btn-group-vertical">
                                        <a href="{{ path('email-spool_show', { 'id': entity.id }) }}" class="btn btn-default">show</a>
                                {% if entity.status == 'READY' %}
                                        <a href="{{ path('email-spool_cancel', { 'id': entity.id }) }}" class="btn btn-danger">cancel</a>
                                {% endif %}
                                {% if entity.status == 'FAILED' %}
                                        <a href="{{ path('email-spool_retry', { 'id': entity.id }) }}" class="btn btn-danger">retry</a>
                                {% endif %}
                                {% if entity.status == 'COMPLETE' or entity.status == 'CANCELLED' %}
                                        <a href="{{ path('email-spool_resend', { 'id': entity.id }) }}" class="btn btn-primary">resend</a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="text-center" colspan="12">No emails in the spool.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="text-center">
                <div class="navigation">
                    {{ knp_pagination_render(entities) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
