{% extends 'CitraxDatabaseSwiftMailerBundle::layout.html.twig' %}
{% block database_swiftmailer_content %}
<div class="row">
    <div class="col-md-12">

    <h1>Email</h1>

    <table class="record_properties table table-hover">
        <tbody>

            <tr>
                <th>Subject</th>
                <td>{{ entity.subject }}</td>
            </tr>
            <tr>
                <th>From</th>
                <td>{{ entity.fromEmail }}</td>
            </tr>
            <tr>
                <th>To</th>
                <td>{{ entity.toEmail }}</td>
            </tr>
            <tr>
                <th>Cc</th>
                <td>{{ entity.ccEmail }}</td>
            </tr>
            <tr>
                <th>Bcc</th>
                <td>{{ entity.bccEmail }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ entity.body|raw }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>
                    <span class="label label-{{ entity.status == 'COMPLETE' ? 'success' }}{{ entity.status == 'READY' ? 'info' }}{{ entity.status == 'FAILED' or entity.status == 'CANCELLED' ? 'danger' }}">
                    {{ entity.status }}
                    </span>
                </td>
            </tr>
            <tr>
                <th>Retries</th>
                <td>{{ entity.retries }}</td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated at</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Created by</th>
                <td>{{ entity.createdBy }}</td>
            </tr>
            <tr>
                <th>Updated by</th>
                <td>{{ entity.updatedBy }}</td>
            </tr>
            <tr>
                <th>Sent at</th>
                <td>{{ entity.sentAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Error message</th>
                <td>{{ entity.errorMessage }}</td>
            </tr>
        </tbody>
    </table>


    <div class="btn-toolbar">
        <a href="{{ path('email-spool') }}" class="btn btn-default">
                Back to the list
        </a>
        <a href="{{ path('email-spool_delete',{id : entity.id}) }}" class="btn btn-danger">
                Delete
        </a>
    </div>


    </div>
</div>
{% endblock %}
